backend:
  name: git-gateway
  branch: main

media_folder: "static/uploads"
public_folder: "/uploads"

collections:
  - name: "posts"
    label: "پست‌ها"
    folder: "content/posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "عنوان", name: "title", widget: "string" }
      - { label: "تاریخ", name: "date", widget: "datetime" }
      - { label: "محتوا", name: "body", widget: "markdown" }
      - { label: "عکس شاخص", name: "thumbnail", widget: "image", required: false }

